


<div>
  <div>
    <p style="color: green"><%= notice %></p>
  </div>
  <div>
    <h2 class="display-6 text-center mb-4">Movies</h2>
  </div>
  <div>
    <% @movies.each do |movie| %>
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <h4 class="card-text"><%= movie.name %></h4>
            <% if movie.show_times.active.seats_available.by_date.any? %>
              <div class="align-items-center">
                <% movie.show_times.active.seats_available.by_date.each do |show_time| %>
                  <%= link_to time_only(show_time.show_date_and_time), new_show_time_order_path(show_time.id), class: "btn btn-primary" %>
                <% end %>
              </div>
            <% else %>
              <p>Got Netflix?</p>
            <% end %>
          </div>
        </div>
      </div>
      <br>
    <% end %>
  </div>
</div>

