


<div>
  <div>
    <p style="color: green"><%= notice %></p>
  </div>
  <div>
    <h2 class="display-6 text-center mb-4">Movies</h2>
  </div>
  <div>
    <% @movies.each do |movie| %>
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <h4 class="card-text"><%= movie.name %></h4>
            <div class="align-items-center">
              <% movie.show_times.each do |show_time| %>
                <a href="show_times/<%= show_time.id %>" class="btn btn-primary"><%= time_only(show_time.show_date_and_time) %></a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <br>
    <% end %>
  </div>
</div>

