<div id="<%= dom_id order %>">
  <p>
    <strong>Number of ticket:</strong>
    <%= order.number_of_ticket %>
  </p>

  <p>
    <strong>Showtime:</strong>
    <%= order.show_time_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

</div>
